<div class="submenu">
   <div class="submenu__category">
      <div class="col">
         <div class="sect">
            <h3 class="sect__title">T-Shirts & Blouses</h3>
            <ul class="sect__list">
               <li class="item"><a class="link-menu" href="#">Blouses</a></li>
               <li class="item"><a class="link-menu" href="#">- Shirts</a></li>
               <li class="item"><a class="link-menu" href="#">T-Shirts</a></li>
            </ul>
         </div>
         <div class="sect">
            <h3 class="sect__title">Warm clothes</h3>
            <ul class="sect__list">
               <li class="item"><a class="link-menu" href="#">Cardigans</a></li>
               <li class="item"><a class="link-menu" href="#">Sweaters</a></li>
               <li class="item"><a class="link-menu" href="#">Sweatshirts</a></li>

            </ul>
         </div>
      </div>
      <div class="col">
         <div class="sect">
            <h3 class="sect__title">Outerwear</h3>
            <ul class="sect__list">
               <li class="item"><a class="link-menu" href="#">Coats</a></li>
               <li class="item"><a class="link-menu" href="#">Hoddies_&_Pullovers</a></li>
               <li class="item"><a class="link-menu" href="#">Jackets</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="submenu__products">
      <div class="item">
         <img class="item__img" src="img/item1.jpg" alt="">
         <div class="wrap">
            <a class="item__title" href="#">Happy intarsia crewneck sweater</a>
            <div class="item__price">
               <span class="new">$ 199.00</span>
               <span class="old">$ 299.00</span>
            </div>
         </div>
      </div>
      <div class="item">
         <img class="item__img" src="img/item1.jpg" alt="">
         <div class="wrap">
            <a class="item__title" href="#">Happy intarsia crewneck sweater</a>
            <div class="item__price">
               <span class="new">$ 199.00</span>
               <span class="old">$ 299.00</span>
            </div>
         </div>
      </div>
      <div class="item">
         <img class="item__img" src="img/item1.jpg" alt="">
         <div class="wrap">
            <a class="item__title" href="#">Happy intarsia crewneck sweater</a>
            <div class="item__price">
               <span class="new">$ 199.00</span>
               <span class="old">$ 299.00</span>
            </div>
         </div>
      </div>
   </div>
   <div class="submenu__logo">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
   </div>
</div>