<div class="submenu">
   <div class="submenu__category">
      <div class="col">
         <div class="sect">
            <h3 class="sect__title">T-Shirts & Blouses</h3>
            <ul class="sect__list">
               <li class="item">Blouses</li>
               <li class="item">- Shirts</li>
               <li class="item">T-Shirts</li>
            </ul>
         </div>
         <div class="sect">
            <h3 class="sect__title">Warm clothes</h3>
            <ul class="sect__list">
               <li class="item">Cardigans</li>
               <li class="item">Sweaters</li>
               <li class="item">Sweatshirts</li>
            </ul>
         </div>
      </div>
      <div class="col">
         <div class="sect">
            <h3 class="sect__title">Outerwear</h3>
            <ul class="sect__list">
               <li class="item">Coats</li>
               <li class="item">Hoddies_&_Pullovers</li>
               <li class="item">Jackets</li>
            </ul>
         </div>
      </div>
   </div>
   <div class="submenu__products">
      <div class="item">
         <img class="item__img" src="img/item2.jpg" alt="">
         <div class="wrap">
            <h4 class="item__title">Happy intarsia crewneck
               sweater</h4>
            <div class="item__price">
               <span class="new">$ 199.00</span>
               <span class="old">$ 299.00</span>
            </div>
         </div>
      </div>
      <div class="item">
         <img class="item__img" src="img/item2.jpg" alt="">
         <div class="wrap">
            <h4 class="item__title">Happy intarsia crewneck
               sweater</h4>
            <div class="item__price">
               <span class="new">$ 199.00</span>
               <span class="old">$ 299.00</span>
            </div>
         </div>
      </div>
      <div class="item">
         <img class="item__img" src="img/item2.jpg" alt="">
         <div class="wrap">
            <h4 class="item__title">Happy intarsia crewneck
               sweater</h4>
            <div class="item__price">
               <span class="new">$ 199.00</span>
               <span class="old">$ 299.00</span>
            </div>
         </div>
      </div>
   </div>
   <div class="submenu__logo">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
      <img class="img" src="img/logotype.jpg" alt="">
   </div>
</div>