<aside class="aside">
   <div class="aside__catalog">
      <ul class="top">
         <div class="wrapp">
            <li class="item"><a href="#" class="aside__link aside__link--title">TOP</a></li>
            <i class="fico fico-arrow"></i>
         </div>
         <li class="item"><a href="#" class="aside__link">Lorem, ipsum.</a></li>
         <li class="item"><a href="#" class="aside__link">Lorem, ipsum.</a></li>
      </ul>
      <ul class="blouses">
         <div class="wrapp">
            <li class="item"><a href="#" class="aside__link aside__link--title">t-shirt & blouses</a></li>
            <i class="fico fico-arrow"></i>
         </div>
         <li class="item"><a href="#" class="aside__link">Blouses</a></li>
         <li class="item"><a href="#" class="aside__link aside__link--subparagraph">Shirts</a></li>
         <li class="item"><a href="#" class="aside__link">T-Shirts</a></li>
      </ul>
      <ul class="shirt">
         <li class="item"><a href="#" class="aside__link aside__link--title">T-Shirt</a></li>
      </ul>
      <ul class="outerwear">
         <li class="item"><a href="#" class="aside__link aside__link--title">Outerwear</a></li>
      </ul>
   </div>
   <div class="aside__filters">
      <h4 class="title">Filter By</h4>
      <fieldset class="categories">
         <legend class="legend">Categories</legend>
         <div class="item">
            <input type="checkbox" class="checkbox" id="dresses" name="interest" value="dresses">
            <label class="label" for="dresses">Dresses</label>
         </div>
         <div class="item">
            <input type="checkbox" class="checkbox" id="blouses" name="interest" value="blouses">
            <label for="blouses">Blouses</label>
         </div>
         <div class="item">
            <input type="checkbox" class="checkbox" id="outerwear" name="interest" value="outerwear">
            <label for="outerwear">Outerwear</label>
         </div>
      </fieldset>
      <fieldset class="color">
         <legend class="legend">Categories</legend>
         <div class="item">
            <input type="checkbox" class="checkbox" id="beige" name="interest" value="beige">
            <label for="beige">Beige <span class="count">(1)</span> </label>
         </div>
         <div class="item">
            <input type="checkbox" class="checkbox" id="black" name="interest" value="black">
            <label for="black">Black <span class="count">(2)</span> </label>
         </div>
         <div class="item">
            <input type="checkbox" class="checkbox" id="yellow" name="interest" value="yellow">
            <label for="yellow">Yellow <span class="count">(4)</span> </label>
         </div>
         <div class="item">
            <input type="checkbox" class="checkbox" id="white" name="interest" value="white">
            <label for="white">White <span class="count">(2)</span> </label>
         </div>
      </fieldset>
      <fieldset class="compositions">
         <legend class="legend">Compositions</legend>
         <div class="item">
            <input type="checkbox" class="checkbox" id="cotton" name="interest" value="cotton">
            <label for="cotton">Cotton <span class="count">(3)</span> </label>
         </div>
         <div class="item">
            <input type="checkbox" class="checkbox" id="polyester" name="interest" value="polyester">
            <label for="polyester">Polyester <span class="count">(2)</span> </label>
         </div>
         <div class="item">
            <input type="checkbox" class="checkbox" id="viscose" name="interest" value="viscose">
            <label for="viscose">Viscose <span class="count">(4)</span> </label>
         </div>
      </fieldset>
   </div>
</aside>