<div class="products">
      <h2 class="products__title">Dresses</h2>
      <p class="products__text">Find your favorites dresses from our wide choice of evening, casual or summer dresses!
            We
            offer dresses for every day, every style and every occasion.</p>
      <div class="result">
            <span class="result__value">There are 5 products</span>
            <div class="products__filter">
                  <span class="sort">Sort by:&nbsp;</span>
                  <div class="dropdown js_dropdown">
                        <div class="dropdown__trigger">
                              <span class="dropdown__value">
                                    Price, high to low
                              </span>
                              <i class="fico fico-arrow"></i>
                        </div>
                        <ul class="dropdown__list js_dropdown-list">
                              <li class="dropdown__item"><a class="dropdown__link" href="#">Lorem, ipsum dolor</a></li>
                              <li class="dropdown__item"><a class="dropdown__link" href="#">Lorem, ipsum dolor</a></li>
                              <li class="dropdown__item"><a class="dropdown__link" href="#">Lorem, ipsum dolor</a></li>
                        </ul>
                  </div>
            </div>
      </div>
      <div class="filter-active">
            <span class="filters">Active filters</span>
            <div class="filters-place js_filters-place"></div>
      </div>
      <div class="plates plates--3">
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red1tab1"><label
                                          class="label label--red" for="red1tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange1tab1"><label
                                          class="label label--orange" for="orange1tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green1tab1"><label
                                          class="label label--green" for="green1tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue1tab1"><label
                                          class="label label--blue" for="blue1tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-new">New</span>
                        <span class="flag flag-sale">-20%</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red2tab1"><label
                                          class="label label--red" for="red2tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange2tab1"><label
                                          class="label label--orange" for="orange2tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green2tab1"><label
                                          class="label label--green" for="green2tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue2tab1"><label
                                          class="label label--blue" for="blue2tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red3tab1"><label
                                          class="label label--red" for="red3tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange3tab1"><label
                                          class="label label--orange" for="orange3tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green3tab1"><label
                                          class="label label--green" for="green3tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue3tab1"><label
                                          class="label label--blue" for="blue3tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red4tab1"><label
                                          class="label label--red" for="red4tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange4tab1"><label
                                          class="label label--orange" for="orange4tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green4tab1"><label
                                          class="label label--green" for="green4tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue4tab1"><label
                                          class="label label--blue" for="blue4tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red5tab1"><label
                                          class="label label--red" for="red5tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange5tab1"><label
                                          class="label label--orange" for="orange5tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green5tab1"><label
                                          class="label label--green" for="green5tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue5tab1"><label
                                          class="label label--blue" for="blue5tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red6tab1"><label
                                          class="label label--red" for="red6tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange6tab1"><label
                                          class="label label--orange" for="orange6tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green6tab1"><label
                                          class="label label--green" for="green6tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue6tab1"><label
                                          class="label label--blue" for="blue6tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red7tab1"><label
                                          class="label label--red" for="red7tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange7tab1"><label
                                          class="label label--orange" for="orange7tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green7tab1"><label
                                          class="label label--green" for="green7tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue7tab1"><label
                                          class="label label--blue" for="blue7tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red8tab1"><label
                                          class="label label--red" for="red8tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange8tab1"><label
                                          class="label label--orange" for="orange8tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green8tab1"><label
                                          class="label label--green" for="green8tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue8tab1"><label
                                          class="label label--blue" for="blue8tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red9tab1"><label
                                          class="label label--red" for="red9tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange9tab1"><label
                                          class="label label--orange" for="orange9tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green9tab1"><label
                                          class="label label--green" for="green9tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue9tab1"><label
                                          class="label label--blue" for="blue9tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <!-- =include ../pagination.html-->
</div>