<div class="products">
   <h2 class="products__title">Dresses</h2>
   <p class="products__text">Find your favorites dresses from our wide choice of evening, casual or summer dresses! We
      offer dresses for every day, every style and every occasion.</p>
   <div class="result">
      <span class="result__value">There are 5 products</span>
      <div class="products__filter">
         <span class="sort">Sort by:&nbsp;</span>
         <div class="dropdown js_dropdown">
            <div class="dropdown__trigger">
               <span class="dropdown__value">
                  Price, high to low
               </span>
               <i class="fico fico-arrow"></i>
            </div>
            <ul class="dropdown__list js_dropdown-list">
               <li class="dropdown__item"><a class="dropdown__link" href="#">Lorem, ipsum dolor</a></li>
               <li class="dropdown__item"><a class="dropdown__link" href="#">Lorem, ipsum dolor</a></li>
               <li class="dropdown__item"><a class="dropdown__link" href="#">Lorem, ipsum dolor</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>