.instagram
	// height: 300px
	&__title
		// padding-top: 135px
		// padding-bottom: 135px
		background: url(../img/instagram.jpg) no-repeat center
		text-align: center
		background-size: cover
		line-height: 320px
		color: white
		font-size: 42px
		font-weight: 400