<div class="tab">
      <div class="plates plates--5 js_plates-slider">
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-new">New</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red0tab1"><label
                                          class="label label--red" for="red0tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange0tab1"><label
                                          class="label label--orange" for="orange0tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green0tab1"><label
                                          class="label label--green" for="green0tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue0tab1"><label
                                          class="label label--blue" for="blue0tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red1tab1"><label
                                          class="label label--red" for="red1tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange1tab1"><label
                                          class="label label--orange" for="orange1tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green1tab1"><label
                                          class="label label--green" for="green1tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue1tab1"><label
                                          class="label label--blue" for="blue1tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-new">New</span>
                        <span class="flag flag-sale">-20%</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red2tab1"><label
                                          class="label label--red" for="red2tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange2tab1"><label
                                          class="label label--orange" for="orange2tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green2tab1"><label
                                          class="label label--green" for="green2tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue2tab1"><label
                                          class="label label--blue" for="blue2tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red3tab1"><label
                                          class="label label--red" for="red3tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange3tab1"><label
                                          class="label label--orange" for="orange3tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green3tab1"><label
                                          class="label label--green" for="green3tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue3tab1"><label
                                          class="label label--blue" for="blue3tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red4tab1"><label
                                          class="label label--red" for="red4tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange4tab1"><label
                                          class="label label--orange" for="orange4tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green4tab1"><label
                                          class="label label--green" for="green4tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue4tab1"><label
                                          class="label label--blue" for="blue4tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red5tab1"><label
                                          class="label label--red" for="red5tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange5tab1"><label
                                          class="label label--orange" for="orange5tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green5tab1"><label
                                          class="label label--green" for="green5tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue5tab1"><label
                                          class="label label--blue" for="blue5tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red6tab1"><label
                                          class="label label--red" for="red6tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange6tab1"><label
                                          class="label label--orange" for="orange6tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green6tab1"><label
                                          class="label label--green" for="green6tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue6tab1"><label
                                          class="label label--blue" for="blue6tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red7tab1"><label
                                          class="label label--red" for="red7tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange7tab1"><label
                                          class="label label--orange" for="orange7tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green7tab1"><label
                                          class="label label--green" for="green7tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue7tab1"><label
                                          class="label label--blue" for="blue7tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red8tab1"><label
                                          class="label label--red" for="red8tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange8tab1"><label
                                          class="label label--orange" for="orange8tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green8tab1"><label
                                          class="label label--green" for="green8tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue8tab1"><label
                                          class="label label--blue" for="blue8tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="product">
                  <div class="product__content">

                        <div class="product__img-wrap">
                              <img class="product__pick" src="img/new-item1.jpg" alt="product">
                              <img class="product__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="product__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>

                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red9tab1"><label
                                          class="label label--red" for="red9tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange9tab1"><label
                                          class="label label--orange" for="orange9tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green9tab1"><label
                                          class="label label--green" for="green9tab1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue9tab1"><label
                                          class="label label--blue" for="blue9tab1"></label>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>