<div class="tab">
      <div class="plates plates--5">
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-new">New</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red1"><label
                                          class="label label--red" for="red1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange1"><label
                                          class="label label--orange" for="orange1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green1"><label
                                          class="label label--green" for="green1"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue1"><label
                                          class="label label--blue" for="blue1"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red2"><label
                                          class="label label--red" for="red2"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange2"><label
                                          class="label label--orange" for="orange2"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green2"><label
                                          class="label label--green" for="green2"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue2"><label
                                          class="label label--blue" for="blue2"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-new">New</span>
                        <span class="flag flag-sale">-20%</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red3"><label
                                          class="label label--red" for="red3"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange3"><label
                                          class="label label--orange" for="orange3"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green3"><label
                                          class="label label--green" for="green3"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue3"><label
                                          class="label label--blue" for="blue3"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red4"><label
                                          class="label label--red" for="red4"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange4"><label
                                          class="label label--orange" for="orange4"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green4"><label
                                          class="label label--green" for="green4"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue4"><label
                                          class="label label--blue" for="blue4"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red5"><label
                                          class="label label--red" for="red5"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange5"><label
                                          class="label label--orange" for="orange5"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green5"><label
                                          class="label label--green" for="green5"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue5"><label
                                          class="label label--blue" for="blue5"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red6"><label
                                          class="label label--red" for="red6"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange6"><label
                                          class="label label--orange" for="orange6"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green6"><label
                                          class="label label--green" for="green6"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue6"><label
                                          class="label label--blue" for="blue6"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red7"><label
                                          class="label label--red" for="red7"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange7"><label
                                          class="label label--orange" for="orange7"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green7"><label
                                          class="label label--green" for="green7"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue7"><label
                                          class="label label--blue" for="blue7"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red8"><label
                                          class="label label--red" for="red8"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange8"><label
                                          class="label label--orange" for="orange8"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green8"><label
                                          class="label label--green" for="green8"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue8"><label
                                          class="label label--blue" for="blue8"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red9"><label
                                          class="label label--red" for="red9"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange9"><label
                                          class="label label--orange" for="orange9"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green9"><label
                                          class="label label--green" for="green9"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue9"><label
                                          class="label label--blue" for="blue9"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item1.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red10"><label
                                          class="label label--red" for="red10"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange10"><label
                                          class="label label--orange" for="orange10"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green10"><label
                                          class="label label--green" for="green10"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue10"><label
                                          class="label label--blue" for="blue10"></label>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>