<div class="tab">
   <div class="plates">
      <div class="item">
         <div class="item__content">
            <span class="flag flag-new">New</span>
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red11"><label class="label label--red"
                     for="red11"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange11"><label class="label label--orange"
                     for="orange11"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green11"><label class="label label--green"
                     for="green11"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue11"><label class="label label--blue"
                     for="blue11"></label>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item__content">
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red12"><label class="label label--red"
                     for="red12"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange12"><label class="label label--orange"
                     for="orange12"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green12"><label class="label label--green"
                     for="green12"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue12"><label class="label label--blue"
                     for="blue12"></label>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item__content">
            <span class="flag flag-new">New</span>
            <span class="flag flag-sale">-20%</span>
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
                  <span class="old">$ 299.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red13"><label class="label label--red"
                     for="red13"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange13"><label class="label label--orange"
                     for="orange13"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green13"><label class="label label--green"
                     for="green13"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue13"><label class="label label--blue"
                     for="blue13"></label>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item__content">
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red14"><label class="label label--red"
                     for="red14"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange14"><label class="label label--orange"
                     for="orange14"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green14"><label class="label label--green"
                     for="green14"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue14"><label class="label label--blue"
                     for="blue14"></label>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item__content">
            <span class="flag flag-sale">-20%</span>
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
                  <span class="old">$ 299.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red5"><label class="label label--red"
                     for="red5"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange5"><label class="label label--orange"
                     for="orange5"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green5"><label class="label label--green"
                     for="green5"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue5"><label class="label label--blue"
                     for="blue5"></label>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="plates">
      <div class="item">
         <div class="item__content">
            <span class="flag flag-sale">-20%</span>
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
                  <span class="old">$ 299.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red16"><label class="label label--red"
                     for="red16"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange16"><label class="label label--orange"
                     for="orange16"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green16"><label class="label label--green"
                     for="green16"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue16"><label class="label label--blue"
                     for="blue16"></label>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item__content">
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red17"><label class="label label--red"
                     for="red17"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange17"><label class="label label--orange"
                     for="orange71"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green17"><label class="label label--green"
                     for="green17"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue17"><label class="label label--blue"
                     for="blue17"></label>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item__content">
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red18"><label class="label label--red"
                     for="red18"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange18"><label class="label label--orange"
                     for="orange18"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green18"><label class="label label--green"
                     for="green18"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue18"><label class="label label--blue"
                     for="blue18"></label>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item__content">
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red29"><label class="label label--red"
                     for="red29"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange29"><label class="label label--orange"
                     for="orange29"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green29"><label class="label label--green"
                     for="green29"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue29"><label class="label label--blue"
                     for="blue29"></label>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item__content">
            <span class="flag flag-sale">-20%</span>
            <div class="item__img-wrap">
               <img class="item__pick" src="img/new-item2.jpg" alt="product">
               <img class="item__pick" src="img/hover-item.jpg" alt="product">
            </div>
            <button class="btn btn-view">quick view</button>
            <button class="btn btn-details">more details</button>
         </div>
         <div class="description">
            <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
            <div class="item__bottom">
               <div class="description__price">
                  <span class="new">$ 199.00</span>
                  <span class="old">$ 299.00</span>
               </div>
               <div class="colors">
                  <input class="radio-inp" type="radio" name="color" value="red" id="red20"><label class="label label--red"
                     for="red20"></label>
                  <input class="radio-inp" type="radio" name="color" value="orange" id="orange20"><label class="label label--orange"
                     for="orange20"></label>
                  <input class="radio-inp" type="radio" name="color" value="green" id="green20"><label class="label label--green"
                     for="green20"></label>
                  <input class="radio-inp" type="radio" name="color" value="blue" id="blue20"><label class="label label--blue"
                     for="blue20"></label>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>