<div class="tab">
      <div class="plates">
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-new">New</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red21"><label
                                          class="label label--red" for="red21"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange21"><label
                                          class="label label--orange" for="orange21"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green21"><label
                                          class="label label--green" for="green21"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue21"><label
                                          class="label label--blue" for="blue21"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red22"><label
                                          class="label label--red" for="red22"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange22"><label
                                          class="label label--orange" for="orange22"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green22"><label
                                          class="label label--green" for="green22"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue22"><label
                                          class="label label--blue" for="blue22"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-new">New</span>
                        <span class="flag flag-sale">-20%</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red23"><label
                                          class="label label--red" for="red23"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange23"><label
                                          class="label label--orange" for="orange23"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green23"><label
                                          class="label label--green" for="green23"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue23"><label
                                          class="label label--blue" for="blue23"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red24"><label
                                          class="label label--red" for="red24"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange24"><label
                                          class="label label--orange" for="orange24"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green24"><label
                                          class="label label--green" for="green24"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue24"><label
                                          class="label label--blue" for="blue24"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red25"><label
                                          class="label label--red" for="red25"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange25"><label
                                          class="label label--orange" for="orange25"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green25"><label
                                          class="label label--green" for="green25"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue25"><label
                                          class="label label--blue" for="blue25"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red26"><label
                                          class="label label--red" for="red26"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange26"><label
                                          class="label label--orange" for="orange26"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green26"><label
                                          class="label label--green" for="green26"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue26"><label
                                          class="label label--blue" for="blue26"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red27"><label
                                          class="label label--red" for="red27"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange27"><label
                                          class="label label--orange" for="orange27"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green27"><label
                                          class="label label--green" for="green27"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue27"><label
                                          class="label label--blue" for="blue27"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red28"><label
                                          class="label label--red" for="red28"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange28"><label
                                          class="label label--orange" for="orange28"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green28"><label
                                          class="label label--green" for="green28"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue28"><label
                                          class="label label--blue" for="blue28"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red29"><label
                                          class="label label--red" for="red29"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange29"><label
                                          class="label label--orange" for="orange29"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green29"><label
                                          class="label label--green" for="green29"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue29"><label
                                          class="label label--blue" for="blue29"></label>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="item">
                  <div class="item__content">
                        <span class="flag flag-sale">-20%</span>
                        <div class="item__img-wrap">
                              <img class="item__pick" src="img/new-item3.jpg" alt="product">
                              <img class="item__pick" src="img/hover-item.jpg" alt="product">
                        </div>
                        <a href="#" class="btn btn-view">quick view</a>
                        <a href="#" class="btn btn-details">more details</a>
                  </div>
                  <div class="description">
                        <h4 class="description__title">Excepteur sint occaecat cupidatat</h4>
                        <div class="item__bottom">
                              <div class="description__price">
                                    <span class="new">$ 199.00</span>
                                    <span class="old">$ 299.00</span>
                              </div>
                              <div class="colors">
                                    <input class="radio-inp" type="radio" name="color" value="red" id="red30"><label
                                          class="label label--red" for="red30"></label>
                                    <input class="radio-inp" type="radio" name="color" value="orange" id="orange30"><label
                                          class="label label--orange" for="orange30"></label>
                                    <input class="radio-inp" type="radio" name="color" value="green" id="green30"><label
                                          class="label label--green" for="green30"></label>
                                    <input class="radio-inp" type="radio" name="color" value="blue" id="blue30"><label
                                          class="label label--blue" for="blue30"></label>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>