<footer class="footer">
   <div class="container">
      <div class="wrap">
         <div class="footer__col">
            <img src="../img/logo.png" alt="logo" class="logo">
            <p class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
               nulla pariatur. </p>
            <div class="social">
               <a href="#" class="social__link"><i class="fico fico-facebook"></i></a>
               <a href="#" class="social__link"><i class="fico fico-insta"></i></a>
               <a href="#" class="social__link"><i class="fico fico-pinterest"></i></a>
               <a href="#" class="social__link"><i class="fico fico-twitter"></i></a>
            </div>
            <form class="footer__form" method="POST" action="/">
               <input type="email" name="email" placeholder="Enter your e-mail">
               <button type="submit">subscribe</button>
            </form>
         </div>
         <div class="footer__col">
            <ul class="footer__list">
               <li class="item"><a href="#" class="link link--title">Products</a> </li>
               <li class="item"><a href="#" class="link">Prices drop</a> </li>
               <li class="item"><a href="#" class="link">New products</a> </li>
               <li class="item"><a href="#" class="link">Best sales</a> </li>
            </ul>
         </div>
         <div class="footer__col">
            <ul class="footer__list">
               <li class="item"><a href="#" class="link link--title">Information</a></li>
               <li class="item"><a href="#" class="link">Delivery</a></li>
               <li class="item"><a href="#" class="link">Legal Notice</a></li>
               <li class="item"><a href="#" class="link">Terms and conditions of use</a></li>
               <li class="item"><a href="#" class="link">About us</a> </li>
               <li class="item"><a href="#" class="link">Secure payment</a> </li>
               <li class="item"><a href="#" class="link">Contact us</a> </li>
               <li class="item"><a href="#" class="link">Sitemap</a> </li>
               <li class="item"><a href="#" class="link">Stores</a> </li>
            </ul>
         </div>
         <div class="footer__col">
            <ul class="footer__list">
               <li class="item"><a href="#" class="link link--title">Your account</a> </li>
               <li class="item"><a href="#" class="link">Addresses</a> </li>
               <li class="item"><a href="#" class="link">Credit slips</a> </li>
               <li class="item"><a href="#" class="link">Orders</a> </li>
               <li class="item"><a href="#" class="link">Personal info</a> </li>
            </ul>
         </div>
      </div>
   </div>
</footer>