<div class="nav">
   <div class="nav__top">
      <div class="nav__btns">
         <div class="nav__lang">
            <i class="fico fico-worlwide js_call-btn"></i>
            <ul class="list js_hidden-block">
               <li class="list__item"><a class="link" href="#">English</a></li>
               <li class="list__item"><a class="link" href="#">French</a></li>
               <li class="list__item"><a class="link" href="#">Spain</a></li>
            </ul>
         </div>
         <div class="nav__search">
            <i class="fico fico-search js_call-btn"></i>
            <form action="/" method="get" class="form js_hidden-block">
               <div class="form__search">
                  <input class="form__input" type="text" name="search">
                  <button class="form__btn" type="submit"><i class="fico fico-search"></i></button>
               </div>
            </form>
         </div>
      </div>
      <a href="/" class="nav__logo">
         <img src="img/logo.png" alt="">
      </a>
      <div class="nav__btns nav__btns--right">
         <div class="nav__share">
            <i class="fico fico-share js_call-btn"></i>
            <div class="social js_hidden-block">
               <a class="link" href="#"><i class="icon icon-facebook"></i></a>
               <a class="link" href="#"><i class="icon icon-instagram"></i></a>
               <a class="link" href="#"><i class="icon icon-pinterest"></i></a>
               <a class="link" href="#"><i class="icon icon-twitter"></i></a>
            </div>
         </div>
         <div class="cart">
            <div class="cart__btn js_call-btn">
               <i class="fico fico-cart"></i>
               <span class="cart__count">3</span>
            </div>
            <!--=include shopping-card.html -->
         </div>
      </div>
   </div>
   <div class="burger js_burger">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
   </div>
   <ul class="nav__menu js_menu">
      <li class="nav__link">
         <a class="link" href="#">Dresses</a>
         <!--=include menu/dresses.html -->
      </li>
      <li class="nav__link"><a class="link" href="#">Blouses</a>
         <!--=include menu/blouses.html -->
      </li>
      <li class="nav__link"><a class="link" href="#">Tees & Tops</a>
         <!--=include menu/tees.html -->
      </li>
      <li class="nav__link"><a class="link" href="#">T-Shirts</a>
         <!--=include menu/tshirts.html -->
      </li>
      <li class="nav__link"><a class="link" href="#">Outerwear</a>
         <!--=include menu/outerwear.html -->
      </li>
      <li class="nav__link"><a class="link" href="#">Pans</a>
         <!--=include menu/pans.html -->
      </li>
   </ul>
</div>