<div class="pagination products__pagination">
   <span class="pagination__result">Showing 1-7 of 7 item(s)</span>
   <ul class="pagination__list">
      <li class="pagination__item pagination__item"><a class="pagination__link pagination__link--prev" href="#">
            Previous<i class="fico fico-arrow"></i>
         </a></li>
      <li class="pagination__item"><a class="pagination__link pagination__link--active" href="#">1</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#">4</a></li>
      <li class="pagination__item"><a class="pagination__link" href="#">5</a></li>
      <li class="pagination__item"><a class="pagination__link pagination__link--next" href="#">
            Next<i class="fico fico-arrow"></i>
         </a></li>
   </ul>
</div>