<div class="carts">
   <div class="carts__top">
      <h2 class="carts__title">Shopping cart</h2>
      <i class="icon icon-close"></i>
   </div>
   <ul class="carts__list">
      <li class="item">
         <img src="img/item1.jpg" alt="">
         <div class="content">
            <h3 class="content__title">Happy intarsia crewneck sweater</h3>
            <p class="content__param">Size <b class="content__param--size">S</b></p>
            <p class="content__param">Color <b class="content__param--color">Blue</b></p>
            <span class="price"><b class="value">$24.95</b>х<b class="count">2</b></span>
         </div>
         <i></i>
      </li>
      <li class="carts__item"></li>
      <li class="carts__item"></li>
   </ul>
</div>