body
	background: $mainColor
	font-family: "Montserrat", Arial, Helvetica, sans-serif
	font-size: 14px
.icon
	display: inline-block
	cursor: pointer
	&-burger
		margin-right: 25px
		+sprite($language)
	&-search
		+sprite($search)
	&-shape
		margin-right: 25px
		+sprite($shape)
	&-cart
		+sprite($cart)
	&-facebook
		+sprite($facebook)
	&-instagram
		+sprite($instagram)
	&-pinterest
		+sprite($pinterest)
	&-twitter
		+sprite($twitter)
	&-close
		+sprite($close)
	&-closecart
		+sprite($closecart)
.sprite
	display: inline-block
	&-sisley
		+sprite($sisley)
	&-wrangler
		+sprite($wrangler)
	&-fred
		+sprite($fred)
	&-levis
		+sprite($levis)
	&-jack
		+sprite($jack)
	&-lacoste
		+sprite($lacoste)

.row
	display: flex
	&:not(:last-of-type)
		margin-bottom: 35px
	.item
		position: relative
		&:not(:last-of-type)
			margin-right: 30px
		&__pick
			margin-bottom: 20px
			max-width: 100%
			height: auto
.flag
	position: absolute
	z-index: 1
	padding: 0 12px 0 12px
	height: 26px
	color: white
	font-size: 12px
	line-height: 26px
	top: 20px
	&-new
		background-color: black
		right: 15px
	&-sale
		background-color: #ea2828
		left: 15px
.description
	&__title
		font-size: 14px
		color: #161918
		margin-bottom: 15px
	&__price
		color: #929292
		.new
			padding: 0
			margin-right: 12px
			font-size: 16px
		.old
			font-size: 13px
			text-decoration: line-through

// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block

