.aside
	width: 220px
	.title-wrap
		display: flex
		justify-content: space-between
		align-items: baseline
		margin-bottom: 15px
		.title
			font-size: 14px
			text-transform: uppercase
			&__link
				color: black
				text-decoration: none
		.fico
			cursor: pointer
			font-size: 7px
.subparagraph
	.item
		font-size: 12px
		margin-bottom: 15px
		&:last-of-type
			margin-bottom: 35px
	.link
		text-decoration: none
		color: #929292
		&_color-black
			color: black
.aside
	&__filters
		.title
			padding-top: 30px
			margin-bottom: 25px
			text-transform: uppercase
		.wrap
			margin-bottom: 25px
		.legend
			margin-bottom: 15px
		.item
			&:not(:last-of-type)
				margin-bottom: 10px
			.checkbox
				display: none
				&_color_beige
					&:checked
						&+label
							&::after
								display: block
				&:checked
					&+label
						&::after
							display: block
				&+label
					cursor: pointer
					position: relative
					padding-left: 25px
					&::before, &::after
						content: ''
						display: block
						position: absolute
					&::before
						top: 0
						left: 0
						width: 16px
						height: 16px
						border: 1px solid black
					&::after
						display: none
						width: 10px
						height: 10px
						background-color: black
						border: 1px solid black
						left: 3px
						top: 3px
				&_color_beige, &_color_bl, &_color_yellow, &_color_white
					&+label
						&::before
							border: 1px solid transparent
						&::after
							top: 0
							left: 0
							width: 16px
							height: 16px
							border: 1px solid #e6e6e6
				&_color_beige
					&+label
						&::before
							background-color: #f1e5d2
						&::after
							background-color: #f1e5d2
				&_color_bl
					&+label
						&::before
							background-color: black
						&::after
							background-color: black
				&_color_yellow
					&+label
						&::before
							background-color: #ebad29
						&::after
							background-color: #ebad29
				&_color_white
					&+label
						&::before
							background-color: #f6f6f6
						&::after
							background-color: #f6f6f6