.nav
	padding-top: 15px
	position: relative
	z-index: 101
	+r(991)
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 15px
		background: transparentize(#dedede,.25)
		padding-bottom: 0
	&__top
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 25px
		border-bottom: 1px solid $grey
		+r(991)
			padding-bottom: 15px
	&__btns
		display: flex
		align-items: center
		+r(991)
			padding-left: 46px
	&__lang
		position: relative
		.list
			position: absolute
			left: 0
			top: 100%
			background: $mainColor
			padding: 15px 22px 15px 15px
			box-shadow: 0 7px 15px rgba(1, 2, 3, 0.15)
			transform: translateY(-300%)
			opacity: 0
			pointer-events: none
			transition: all .5s
			&.is-active
				z-index: 102
				transform: translateY(0)
				opacity: 1
				pointer-events: initial
			.link
				text-decoration: none
				color: #7b7b7b
				cursor: pointer
				&:hover
					color: #161918
			&__item
				font-size: 11px
				font-weight: 500
				&:not(:last-of-type)
					margin-bottom: 12px
	&__share
		position: relative
		.social
			position: absolute
			display: flex
			right: 25px
			top: 100%
			background: $mainColor
			box-shadow: 0 7px 15px rgba(1, 2, 3, 0.15)
			padding: 15px 20px
			transform: translateY(-300%)
			opacity: 0
			pointer-events: none
			transition: all .5s
			&.is-active 
				transform: translateY(0)
				opacity: 1
				pointer-events: initial
				z-index: 102
			.link
				cursor: pointer
				padding: 2px 7px
			.icon
				opacity: .4
				&:hover
					opacity: 1
				&:not(:last-of-type)
					margin-right: 22px
	&__search
		position: relative
		.form
			position: absolute
			left: 0
			top: 100%

	.form
		transform: translateY(-300%)
		opacity: 0
		pointer-events: none
		transition: all .5s
		&.is-active
			z-index: 102
			transform: translateY(0)
			opacity: 1
			pointer-events: initial
		&__search
			height: 51px
			min-width: 417px
			background-color: white
			box-shadow: 0 7px 15px rgba(1, 2, 3, 0.15)
			position: relative
		&__input
			position: absolute
			border: none
			left: 0
			right: 0
			height: 100%
			width: 100%
			box-sizing: border-box
			outline: none
			padding: 0 45px 0 20px
		&__btn
			position: absolute
			right: 15px
			top: 0
			bottom: 0
			margin: auto
			+sprite($search)
			border: none
			background-color: rgba(0,0,0,0)
			opacity: .4
			outline: none
			cursor: pointer
			&:hover
				opacity: 1
	&__menu
		padding-top: 25px
		display: flex
		justify-content: center
		position: relative
		padding-bottom: 20px
		transition: transform .6s
		+r(991)
			top: 51px
			display: block
			text-align: center
			z-index: 100
			left: 0
			right: 0
			position: fixed
			bottom: 0
			transform: translateX(-100%)
			background: rgba(78, 74, 74, 0.81)
			&--active
				overflow-y: auto
				transform: translateX(0)
	&__link
		text-transform: uppercase
		text-decoration: none
		font-family: 'Montserrat-SemiBold', Arial, Helvetica, sans-serif
		font-weight: 700
		color: $color-text
		font-size: 11px
		+r(991)
			line-height: 40px
			font-size: 14px
			font-weight: normal
			transition: background .3s
			cursor: pointer
			&:hover
				background: rgba(0,0,0,.2)
		&:hover
			.submenu
				opacity: 1
				transform: perspective(600px) rotateX(0deg)
				+r(991)
					max-height: 400px
					padding: 15px
		&:not(:last-of-type)
			margin-right: 60px
			+r(991)
				margin-right: 0
		.link
			text-decoration: none
			color: inherit
			padding: 10px 20px
			+r(991)
				color: #dedede
.submenu
	display: flex
	justify-content: space-between
	text-transform: none
	opacity: 0
	padding: 30px
	position: absolute
	top: 100%
	left: 0
	right: 0
	background-color: white
	box-shadow: 0 7px 15px rgba(1, 2, 3, 0.15)
	transform: perspective(600px) rotateX(-90deg)
	transform-origin: 0% 0%
	transition: all .6s ease-in-out
	+r(991)
		transition: all .6s
		position: static
		opacity: 1
		transform: none
		display: block
		max-height: 0
		overflow-y: auto
		background: rgba(0,0,0,.2)
		color: white
		line-height: 27px
		padding: 0
		&__products, &__logo
			display: none
	&__category
		position: relative
		display: flex
		padding-right: 30px
		+r(991)
			justify-content: center
		&::after
			content: ''
			display: block
			position: absolute
			bottom: -30px
			right: 0
			top: -30px
			border-right: 2px solid #e5e5e5
			+r(991)
				display: none
		.col
			&:not(:last-of-type)
				margin-right: 55px
				+r(991)
					margin-right: 15px
			.sect
				&:not(:last-of-type)
					margin-bottom: 30px
				.link-menu
					text-decoration: none
					color: black
					+r(991)
						color: white
				&__title
					text-transform: uppercase
					margin-bottom: 20px
					+r(991)
						margin-bottom: 0
				&__list
					.item
						font-size: 12px
						font-weight: 400
						cursor: pointer
						&:hover
							opacity: .7
						&:not(:last-of-type)
							margin-bottom: 15px
							+r(991)
								margin-bottom: 0
	&__products
		font-family: 'Montserrat', Arial, Helvetica, sans-serif
		padding-right: 170px
		position: relative
		&::after
			content: ''
			display: block
			position: absolute
			bottom: -30px
			right: 0
			top: -30px
			border-right: 2px solid #e5e5e5
		.item
			display: flex
			width: 300px
			&:not(:last-of-type)
				margin-bottom: 30px
			&__img
				margin-right: 20px
			&__title
				color: black
				text-decoration: none
				font-size: 14px
				line-height: 20px
				cursor: pointer
			&__price
				margin-top: 15px
				color: #929292
				.new
					font-size: 16px
					margin-right: 8px
				.old
					font-size: 13px
					text-decoration: line-through
	&__logo
		display: flex
		flex-direction: column
		justify-content: space-between
.cart
	&__btn
		position: relative
		font-size: 0
	&__count
		position: absolute
		color: $mainColor
		background: black
		border-radius: 50%
		min-width: 14px
		line-height: 14px
		font-size: 9px
		font-weight: 500
		text-align: center
		padding: 0 5px
		right: -8px
		bottom: -5px
.fico
	&-worlwide
		color: #161918
		font-size: 18px
		margin-right: 25px
.icon
	&-shape
		margin-right: 25px