<section class="advantages">
      <div class="container">
            <div class="advantages__list">
                  <div class="item item-1">
                        <h3 class="item__title">Discount system</h3>
                        <p class="item__text">Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil
                              impedit, quo
                              minus id, quod maxime placeat</p>
                  </div>
                  <div class="item item-2">
                        <h3 class="item__title">Free delivery</h3>
                        <p class="item__text">Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil
                              impedit, quo
                              minus id, quod maxime placeat</p>
                  </div>
                  <div class="item item-3">
                        <h3 class="item__title">Support 24/7</h3>
                        <p class="item__text">Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil
                              impedit, quo
                              minus id, quod maxime placeat</p>
                  </div>
            </div>
      </div>
</section>