<header class="header">
  <div class="container">
    <!--=include ../nav.html -->
  </div>
  <div class="slider">
    <div class="slider__item">
      <div class="container">
        <div class="wrap">
          <h2 class="title">Tees & Tops</h2>
          <p class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.</p>
          <a class="btn">discovery more</a>
        </div>
      </div>
    </div>
    <div class="slider__item">
      <div class="container">
        <div class="wrap">
          <h2 class="title">Dresses</h2>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsam quas ducimus sunt atque
            modi magni earum repellendus, nulla distinctio.</p>
          <a class="btn">discovery more</a>
        </div>
      </div>
    </div>
    <div class="slider__item">
      <div class="container">
        <div class="wrap">
          <h2 class="title">Pans</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam fugit vel fuga nesciunt.</p>
          <a class="btn">discovery more</a>
        </div>
      </div>
    </div>
  </div>
</header>