<section class="themeblock">
   <div class="themeblock__list">
      <div class="item">
         <img src="img/dresses.jpg" alt="" class="item__img">
         <button class="btn">dresses</button>
      </div>
      <div class="item">
         <img src="img/blouses.jpg" alt="" class="item__img">
         <button class="btn">BLOUSES</button>
      </div>
      <div class="item">
         <img src="img/t-shirts.jpg" alt="" class="item__img">
         <button class="btn">T-SHIRTS</button>
      </div>
      <div class="item">
         <img src="img/outerwear.jpg" alt="" class="item__img">
         <button class="btn">OUTERWEAR</button>
      </div>
   </div>
</section>