<section class="trending">
   <div class="container">
      <h2 class="trending__title">Top Trending</h2>
      <p class="trending__text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
         nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
         id est laborum.</p>
      <div class="tabs">
         <button class="tabs__item">New products</button>
         <button class="tabs__item">Prices drop</button>
         <button class="tabs__item">Best sales</button>
      </div>
   </div>
   <!--=include ../tabs/tab1.html -->
</section>